:root {
  --gallery-bg-color: #113336;
}

html * {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  padding: 0px !important;
  height: 100vh;
  font-family: 'Source Code Pro', monospace !important;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  height: 40vh;
  background-size: 100%;
  background-position: 0% 75%;
  background-repeat: no-repeat;
  /* box-shadow: 0 4px 10px -2px rgb(0, 0, 0); */
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  position: relative;
  color: #fff;
  font-size: 55px;
  margin-top: 150px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px;
}

.navlinks {
  color: black;
  text-decoration: none;
  margin: 8px;
}

.navlinks:hover {
  text-decoration: none;
}

.gallery {
  background-color: var(--gallery-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.photo {
  height: 520px;
  width: 395px;
  margin: 20px 0;
}

.model {
  margin: 5px 25px;
}

@media screen and (max-width: 1290px) {
  .punk-peacock {
    height: 420px;
    width: 295px;
    margin: 20px 0;
  }
}

@media screen and (max-width: 950px) {
  .punk-peacock {
    height: 320px;
    width: 235px;
    margin: 20px 0;
  }
}

@media screen and (max-width: 880px) {
  .name {
    font-size: 45px;
  }
}

@media screen and (max-width: 760px) {
  .name {
    font-size: 35px;
  }

  .punk-peacock {
    height: 320px;
    width: 205px;
    margin: 20px 0;
  }
}

@media screen and (max-width: 600px) {
  .header {
    height: 40vh;
    background-size: 100%;
    background-position: 0% 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .name {
    font-size: 30px;
  }

  .gallery {
    background-color: var(--gallery-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .punk-peacock {
    height: 420px;
    width: 295px;
    margin: 20px 0;
  }
}

@media screen and (max-width: 450px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 6px;
  }

  .navlinks {
    font-size: 10px;
    color: black;
    text-decoration: none;
    margin: 2px;
  }
}
@media screen and (max-width: 375px) {
  .name {
    font-size: 20px;
    margin-top: 50px;
  }
  .header {
    height: 40vh;
    background-position: 0% 75%;
  }
}
