@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --gallery-bg-color: #113336;
}

html * {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  background-color: rgb(6, 55, 91) !important;
  padding: 0px !important;
  height: 100vh;
  font-family: 'Playfair Display', serif;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 40vh;
  background-size: 100%;
  background-position: 0% 75%;
  background-repeat: no-repeat;
}

.logo {
  height: 295px;
  width: 295px;
  margin: -60px 0 0 -35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sevendsins {
  color: #fff;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px;
}

.navlinks {
  color: white;
  text-decoration: none;
  margin: 8px;
  font-family: 'Playfair Display', serif;
}

.navlinks:hover {
  text-decoration: none;
}

.gallery {
  background-color: rgb(6, 55, 91);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.photo {
  height: 520px;
  width: 395px;
  margin: 20px 0;
}

.phoenix-photo {
  height: 52px;
  width: 39px;
  margin: 20px 0;
}

.photo:hover {
  cursor: pointer;
}

#grow {
  transition: all 0.2s ease-in-out;
}
#grow:hover {
  transform: scale(1.1);
}

.shoot-title {
  display: flex;
  justify-content: flex;
}

.model {
  font-family: 'Playfair Display', serif;
  margin: 5px 25px;
}

.break {
  border: 1px solid var(--gallery-bg-color);
}

.aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.headshot {
  height: 520px;
  width: 395px;
  padding: 10px;
}

.aboutmep {
  font-family: 'Playfair Display', serif;
  color: white;
  padding: 10px;
}

.meetAnaiah {
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 55px;
  font-family: 'Playfair Display', serif;
}

.packages {
  height: 28vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gallery-bg-color);
  color: #fff;
}

.packagesp {
  font-size: 1.5em;
}

.booknow {
  background-color: #267075;
  border-radius: 5px;
  color: white;
  padding: 0.5em;
  text-decoration: none;
  margin: 8px 0 10px 0;
}

.booknowgal {
  background-color: #267075;
  border-radius: 5px;
  color: white;
  padding: 0.5em;
  text-decoration: none;
  margin: 8px 0 1px 0;
}

.booknow:focus,
.booknow:hover {
  background-color: FireBrick;
  color: White;
  text-decoration: none;
}

.footer {
  height: 8vh;
  display: flex;
  justify-content: flex-end;
}

.foot {
  height: 8vh;
  display: flex;
  justify-content: flex-end;
}

.backtotop {
  margin-top: 20px;
  margin-right: 20px;
}

.backtotopa {
  color: white;
  cursor: pointer;
}

.fab {
  margin-bottom: 25px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.far {
  margin-bottom: 25px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 25px;
  color: white;
}

.home-icon {
  display: flex;
  justify-content: flex-end;
}

.fas {
  margin-bottom: 25px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 20px;
  color: black;
}

.individual-gallery {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
}

.ig-link {
  color: black;
}

@media screen and (max-width: 1290px) {
  .photo {
    height: 420px;
    width: 295px;
    margin: 20px 0;
  }

  .headshot {
    height: 520px;
    width: 395px;
    margin: 20px 0;
  }

  .aboutmep,
  .aboutmep2 {
    margin: 0 35px;
  }

  /* .packagesh1 {
    margin-bottom: 45px;
    font-size: 58px;
  }

  .packagesp {
    font-size: 2.5em;
    margin: 15px 0;
  }

  .booknow {
    padding: 0.5em;
    margin: 15px 0 0px 0;
  } */
}

@media screen and (max-width: 950px) {
  .photo {
    height: 320px;
    width: 235px;
    margin: 20px 0;
  }
  .headshot {
    height: 420px;
    width: 295px;
    margin: 20px 0;
  }
}

@media screen and (max-width: 880px) {
  .name {
    font-size: 45px;
  }
}

@media screen and (max-width: 760px) {
  .name {
    font-size: 35px;
  }

  .photo {
    height: 320px;
    width: 205px;
    margin: 20px 0;
  }
  /* .headshot {
    height: 320px;
    width: 205px;
    margin: 20px 0;
  } */
}

@media screen and (max-width: 600px) {
  .header {
    height: 40vh;
    background-size: 100%;
    background-position: 0% 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .name {
    font-size: 30px;
  }

  .gallery {
    background-color: var(--gallery-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .photo {
    height: 420px;
    width: 295px;
    margin: 20px 0;
  }

  .left {
    display: none;
  }

  .right {
    display: none;
  }

  .headshot {
    height: 420px;
    width: 295px;
    margin: 20px 0;
  }
  .aboutme {
    flex-wrap: wrap;
  }

  .meetAnaiah {
    color: white;
    display: flex;
    justify-content: center;
    margin-right: 0 !important;
    font-family: 'Playfair Display', serif;
  }

  .packagesh1 {
    margin: 10px 0 0 0;
    font-size: 25px;
  }

  .packagesp {
    margin: 8px 0;
    font-size: 1.2em;
  }

  .booknow {
    font-size: 12px;
    padding: 0.3em;
    margin: 0 0 15px 0;
  }
}

@media screen and (max-width: 450px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 6px;
  }

  .navlinks {
    font-size: 10px;
    color: black;
    text-decoration: none;
    margin: 2px;
  }
}
@media screen and (max-width: 375px) {
  .header {
    height: 40vh;
    background-position: 0% 75%;
  }

  .packagesh1 {
    font-size: 28px;
  }

  .packagesp {
    font-size: 1.5em;
  }

  .booknow {
    margin: 0px 0 10px 0;
  }
}
@media screen and (max-width: 360px) {
  .booknow {
    margin: 0 0 20px 0;
  }
}
@media screen and (max-width: 321px) {
  .header {
    height: 40vh;
    background-position: 0% 75%;
  }

  .packagesh1 {
    margin: 15px 0 0 0;
    font-size: 20px;
  }

  .packagesp {
    margin: 4px 0;
    font-size: 1em;
  }

  .booknow {
    font-size: 8px;
    padding: 0.2em;
    margin: 0 0 20px 0;
  }
}
